body {
  font-family: 'Lato', 'Helvetica', sans-serif;
}

* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: #23C8B9;
  text-decoration: none;
}
a:hover {
  color: #FF862D;
}

.title {
  font-family: 'Pacifico';
  font-size: 70px;
  letter-spacing: 2px;
  text-align: center;
  color: #23C8B9;
  margin: 20px 0;
}

.content {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.text {
  color: #34495E;
  font-weight: bold;
  margin-left: 10px;
}

.container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0px;
  margin-top: 20px;
}
.pixel {
  transition: background-color 0.3s ease;
}

.footer {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 50px auto 0 auto;
  padding-top: 10px;
  border-top: 2px solid #23C8B9;
  width: 400px;
}

.file, .numbers {
  position: relative;
  width: 170px;
  display: inline-block;
  text-align: center;
}

.file label, .plus, .minus {
  background: #23C8B9;
  color: white;
  font-weight: bold;
  transition: all .4s;
  height: 30px;
  border-radius: 2px;
}

.file label {
  display: block;
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
}

.file input {
  width: 0;
  height: 0;
  opacity: 0;
  cursor: pointer;
}

.file input:hover + label,
.file input:focus + label {
  outline: none;
  background: #FF862D;
  color: white;
}

.numbers {
  float: right;
}

.counter {
  text-align: center;
  outline: none;
  margin: 0;
  pointer-events: none;
  border: none;
  width: 102px;
}

.minus, .plus {
  user-select: none;
  width: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.minus:active, .plus:active,
.minus:hover, .plus:hover,
.minus:focus, .plus:focus {
  outline: none;
  background: #FF862D;
  outline: none;
}

.minus {
  border-right: none;
  border-radius: 2px 0 0 2px;
}

.plus {
  border-left: none;
  border-radius: 0 2px 2px 0;
}
